@page "/EditEmployee/{Id}"
@using Empire.Data
@using Empire.Models
@using Empire.Service
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager

<h2>Edit Employee</h2>
<hr />

<form>
    <center>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="FName" class="control-label">First Name</label>
                    <input id="FName" class="form-control" @bind="@obj.FirstName" />
                </div>
                <div class="form-group">
                    <label for="LName" class="control-label">Last Name</label>
                    <input id="LName" class="form-control" @bind="@obj.LastName" />
                </div>
                <div class="form-group">
                    <label for="Gender" class="control-label">Gender</label>
                    <select id="Gender" @bind="@obj.Gender" class="form-control">
                        <option value="">-Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Designation" class="control-label">Designation</label>
                    <input id="Designation" class="form-control" @bind="@obj.Designation" />
                </div>
                <div class="form-group">
                    <label for="City" class="control-label">City</label>
                    <input id="City" class="form-control" @bind="@obj.City" />
                </div>
                <div class="form-group">
                    <label for="Phone" class="control-label">Phone</label>
                    <input id="Phone" class="form-control" @bind="@obj.Cellnumber" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" />
                </div>
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <input id="Email" type="email" class="form-control" @bind="@obj.Email" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-success" @onclick="@UpdateEmployee" value="Update" />
                    <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </center>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Employee obj = new Employee();
    List<Role> roles;
    int selectedRoleId;

    protected override async Task OnInitializedAsync()
    {
        obj = await employeeService.GetEmployeeAsync(Convert.ToInt32(Id));
        roles = await context.Roles.ToListAsync();
        selectedRoleId = obj?.RoleId ?? roles.First().Id;
    }
    protected async void UpdateEmployee()
    {
        await employeeService.UpdateEmployeeAsync(obj, selectedRoleId);
        NavigationManager.NavigateTo("Employees");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Employees");
    }
}
