@page "/Employees"
@using Empire.Models
@using Empire.Service
@inject EmployeeService employeeService

<center>
    <h1>Employee Info</h1>
    <hr />
</center>

<div class="row">
    <!-- Button on the left -->
    <div class="col-md-6">
        <NavLink class="btn btn-success" href="AddEmployee">
            <span class="oi oi-plus" aria-hidden="true">Add New Employee</span>
        </NavLink>
    </div>

    <!-- Search Bar on the right -->
    <div class="col-md-6">
        <input type="text" placeholder="Search for employee" @bind-value="searchTerm" @bind-value:event="oninput" class="form-control float-right" style="width: 85%;" />
    </div>
</div>

<hr />


@if (EmpObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Designation</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                <tr>
                    <td>@emp.EmpID</td>
                    <td>@emp.Fullname</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Designation</td>
                    <td>@emp.City</td>
                    <td>@emp.Email</td>
                    <td>@emp.Phone</td>
                    <td>
                        <a class="btn btn-warning" href="EditEmployee/@emp.EmpID">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="btn btn-danger" href="Delete/@emp.EmpID">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Employee> EmpObj;
    List<Employee> DisplayedEmpObj;
    string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => employeeService.GetAllEmployeesAsync());
        DisplayedEmpObj = EmpObj;
    }
    void FilterEmployees()
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            DisplayedEmpObj = EmpObj;
        }
        else
        {
            DisplayedEmpObj = EmpObj
                .Where(e => e.Fullname.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
                            || e.Designation.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
                           ).ToList();
        }
    }
}