@page "/AppDetails/{AppID:int}"
@using Empire.Data
@using Empire.Models
@using Empire.Service
@inject AppService appService

<h3>App Details</h3>

@if (appDetails == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <strong>Application Name:</strong> @appDetails.AppName
    </div>
    <div>
        <strong>POC/Owner:</strong> @appDetails.POC
    </div>
    <div>
        <strong>POC #:</strong> @appDetails.Telephone
    </div>
    <div>
        <strong>POC Email:</strong> @appDetails.POCEmail
    </div>
    <div>
        <strong>Purpose:</strong> @appDetails.AppNotes
    </div>
}

@code {
    [Parameter] public int AppID { get; set; }
    private AppList appDetails;

    protected override async Task OnInitializedAsync()
    {
        appDetails = await appService.GetAppByIdAsync(AppID);
    }
}
